body {
    background-color: beige;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 322px;
}

img {
    padding: 10px 10px;
    width: 40px;
    height: 40px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #baa1f5;
    margin-bottom: 4px;
}

button {
    background: #baa1f5;
    color: white;
    padding: 10px 20px;
    border: 1px solid #baa1f5;
    font-weight: bold;
}

#delete-btn {
    background: white;
    color: #baa1f5;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #baa1f5;
}